:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --green: #31d0aa;
  --basic-text: #434455;
  --subtele-text: #8e8f99;
  --light-mode: #f4f4fd;
  --main-text: #2e2f42;
  --hero-bckgrd: #2e2f42;
  --white: #ffffff;
  --modal-bckgrd: #fcfcfc;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  color: var(--basic-text);
}

ul {
  list-style-type: none;

  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}
h1,
h2,
h3 {
  color: var(--dark);
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  color: var(--main-text);
}

button {
  cursor: pointer;
}

.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: calc(21 / 18);
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo1 {
  color: var(--primary-brand);
}

.nav-link:hover,
.nav-lin:focus {
  color: var(--pressed-state);
}

.contact-item a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
}
.contact-item a:hover {
  color: var(--pressed-state);
}

.hero {
  background-color: var(--hero-bckgrd);
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: calc(60 / 56);
  letter-spacing: 1.12px;
  color: var(--white);
}

.hero-btn {
  background: var(--primary-brand);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  color: var(--white);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}

.team-section {
  background-color: var(--light-mode);
}

.team-item {
  background-color: var(--white, #fff);
}

.footer-section {
  background-color: var(--dark);
}

.logo-footer2 {
  color: var(--light-mode);
}

.footer-text {
  color: var(--light-mode);
}

/* PORTFOLIO PAGE */

.filter-btn {
  background-color: var(--light-mode);
  color: var(--primary-brand);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: 0.64px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white);
}

.gallery-text h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
  letter-spacing: 0.4px;
}
